

.pagination{
    margin-left: 39rem;
    padding: 10px;
    margin-top: 15px;
    
    }
.page-link{
background-color:rgb(206, 236, 226);
color: black;
}
.nav-NavLink{
  text-decoration: black;
  color: black;
  margin-left: 40px;
  font-size:large;

  
}
.nav-NavLink:hover{
    color:blue;
    text-decoration: underline;
    font-weight: bold;
    
}
